body{
    font-family:  'Roboto', sans-serif;
    background-image: url("../../Img/fundo.jpg");
    position:relative;
    min-height: 700px;
    width: 100%;

    /*parallax*/
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.submenu-group{
    background-color: black;
}

/*------------------------------- Cards -------------------------------------------*/
.placar-jogador{
    margin-left: 5em;
}

.placares{
    margin-left: 3em;
}
/*------------------------------- Icons Redes Sociais -------------------------------------------*/
.icon-facebook{
    color:#3b5998;
}
.icon-facebook:hover{
    color: #3b5998;
}
.icon-instagram{
    color:#E1306C;
 }
.icon-instagram:hover{
   color:#E1306C;
}
.menu-admin{
    padding-Bottom:2em;
    padding-left:8em;
}
